{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
<!--  -->
{% block title %}Login{% endblock title %}
<!--  -->


{% block registrationtype %}Password Reset{% endblock registrationtype %}
{% block instruction1 %}You can now change your password.{% endblock instruction1 %}
{% block instruction2 %}{% endblock instruction2 %}
{% block form %}
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button class=" btn btn-primary float-right centerButton" type="submit">Change Password<i class="material-icons">send</i></button>
</form>
{% endblock form %}