{% extends 'recipes/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="margin-top:100px" class="m-right-panel m-page scene_element scene_element--fadeinright pb-5">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>

<form method="POST" action="{% url 'contact' %}" class="mt-4">
    {% csrf_token %}
    {{form|crispy}}
      <div class="float-right centerButton" >
    <button class="btn btn-primary float-right centerButton" type="submit">Send Message<i class="material-icons">send</i></button>
    </div>
</form>
</div>

<style>
    .progress-bar {
        -webkit-transition: width 2.5s ease;
        transition: width 2.5s ease;
    }
    </style>
    
    
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
    
    {% block scripts %}
    {{block.super}}
    <script>
    
    $(".progress-bar").css('width', '50%');


    
    </script>
    
    
    {% endblock %}