<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>You sent us a message.</h1>
        <p>Here's a copy of what you sent us.</p>
        <p>Subject: {{message.subject}}</p>
        <p>Email: {{message.email}}</p>
        <p>Message: {{message.text}}</p>
        <p>We've received your message and will get back to you shortly.</p>
        <br>
        <p style="color:black; font-weight:normal">Thank you!</p>
        <p style="color:black; font-weight:normal">Sincerely,</p>
        <p style="color:black; font-weight:normal">OptOMystik Team</p>
    </body>
</html>